{% extends 'FqBundle::base.html.twig' %}

{% block body %}
    <div class="container">

                <div class="carousel slide well" id="myCarousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                        <li data-slide-to="1" data-target="#myCarousel"></li>
                        <li data-slide-to="2" data-target="#myCarousel"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active" id="slide1">
                            <img src='{{ asset('bundles/fq/images/wind.jpg') }}'/>
                            <div class="carousel-caption">
                                <div class="text-left">

                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#" data-role="facebook-login" data-target="{{ url('dashboard') }}" class="btn btn-lg btn-social btn-facebook">
                                                <i class="fa fa-facebook"></i>Вход через Facebook
                                            </a>
                                        </li>
                                        {#<li>#}
                                            {#<a class="btn btn-lg btn-social btn-google-plus" style="margin-top: 5px">#}
                                                {#<i class="fa fa-google-plus"></i>Вход через Google#}
                                            {#</a>#}
                                        {#</li>#}
                                    </ul>
                                </div>

                            </div><!-- end carousel-caption -->
                        </div><!-- end item -->
                    </div><!-- end carousel-inner -->
                </div>

    </div><!-- container -->

    <div class="container">
        <div class="well">
            <div class="container">
                <h1>Категории</h1>
                {% for category in categories %}
                    <div class="col-md-4">
                        <button onclick="document.location = '{{ url('event_list', {'categories[]': category.id}) }}'" type="button" class="btn-lg btn-success">
                            {{ category.name }}
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background: #3EBF99;">
        <div class="container">
            <div class="page-header text-center">
                <h1>Про нас</h1>
            </div><!-- end page-header -->
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac gravida ante, quis pretium tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra quam non pretium consectetur. Aenean consectetur mollis vulputate. Vestibulum justo felis, venenatis id malesuada in, facilisis quis velit. Aliquam commodo, libero ut dapibus pharetra, sapien ligula sodales ligula, vitae dignissim sem turpis ut ex</p>
        </div><!-- end aboutUs -->
    </div>

    <div class="container">
        <div class="row" id="recentEvents">
            <div class="thumbnails row">
                {% for event in events %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="{{ event.image|vlabs_filter('resize', { width : 275, keepRatio : true })|vlabs_media('default') }}">
                            <div class="caption">
                                <p>{{ event.title }}</p>
                                <p>{{ event.description }}</p>
                                <div class="text-right">
                                    <a href="{{ url('event_view', {'id': event.id}) }}" class="btn btn-small btn-link">Подробно</a>
                                </div>
                            </div><!-- end caption -->
                        </div><!-- end thumbnail -->
                    </div><!-- end col-4 -->
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="well text-center">
            <a href="{{ url('event_list') }}"><h1>Все события ...</h1></a>
        </div>
    </div>

{% endblock %}
