<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-5"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <title>{% block title %}FreeQuest{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/fq/images/favicon.ico') }}" />

        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" >
            <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="{{ asset('bundles/fq/css/styles.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}

    </head>
    <body style="padding-top: 70px">

        <div id="fb-root" data-url="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"></div>

        {{ include('FqBundle::partials/header.html.twig') }}

        {% block body %}{% endblock %}

        {{ include('FqBundle::partials/footer.html.twig') }}

        {% block javascripts %}
            <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type="application/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
            <script type="application/javascript" src="http://www.appelsiini.net/projects/jeditable/jquery.jeditable.js"></script>
            <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&sensor=false"></script>
            <script type="application/javascript" src="{{ asset('bundles/fq/js/facebook_login.js') }}"></script>
        {% endblock %}

    </body>
</html>
