<div class="navbar navbar-default navbar-fixed-top">
    <div class="container" >
        <div class="row">
            <div class="col-md-8">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% if (app.user.email is defined) %}{{ url('dashboard') }}{% else %}{{ url('homepage') }}{% endif %}">
                        <img src="{{ asset('bundles/fq/images/logo.png') }}" style="height: 40px"/>
                    </a>
                </div><!-- end navbar-header -->
            </div>
            <div class="col-md-4">
                <div class="navbar-header">
                    {% if (app.user.email is defined) %}
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                <img src="{{ app.user.picture }}"/> {{ app.user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a href="{{ url('profile') }}" role="menuitem" tabindex="-1">Профайл</a></li>
                                <li role="presentation"><a href="{{ url('event_list') }}" role="menuitem" tabindex="-1">Все события</a></li>
                                <li role="presentation"><a href="{{ url('event_create') }}" role="menuitem" tabindex="-1">Создать событие</a></li>
                                <li role="presentation"><a href="{{ path('logout') }}" role="menuitem" tabindex="-1">Выйти</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="#" data-role="facebook-login" data-target="{{ url('dashboard') }}" class="btn btn-sm btn-social btn-facebook" style="margin-top: 10px">
                            <i class="fa fa-facebook"></i>Войти
                        </a>
                    {% endif %}
                </div><!-- end navbar-header -->
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end navbar -->
<div class="container">
    {% for message in app.session.get('messages') %}
        <div class="alert alert-{{ message.type }}">
            {{ message.text }}
        </div>
    {% endfor %}
    {{ app.session.set('messages', []) }}
</div>