{% extends 'FqBundle::base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="well">

                    <form class="form-horizontal" role="form" action="{{ path('event_save') }}" method="POST" {{ form_enctype(form) }}>

                        <div class="page-header">

                            <h1>Create Event</h1>

                        </div><!-- end page-header -->

                        {{ form_errors(form) }}

                        <div class="form-body">

                            <div class="form-group">
                                <label for="image" class="col-md-2 control-label">Картинка</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.image) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="title" class="col-md-2 control-label">Название</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.title) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Время</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.schedule) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Подробности</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="category" class="col-md-2 control-label">Категория</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.category) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="col-md-2 control-label">Адрес</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.address) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="position" class="col-md-2 control-label">Карта</label>
                                <div class="col-md-4">
                                    <div id="map" style="width: 500px; height: 200px; background-color: #CCC;"></div>
                                    {{ form_widget(form.position) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>

                    </form>
                </div><!-- end well -->

            </div>

        </div>

    </div><!-- end main container -->
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bNGhrj2Y_h3U655IrW7g961-5Nc2D90&sensor=false"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/gmaps.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_create.js') }}"></script>
{% endblock %}
