{% extends 'FqBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="well">
                    <form class="form-horizontal" role="form" action="{{ form_action }}" method="POST" {{ form_enctype(form) }}>
                        <div class="page-header">
                            <h1>{{ form_title }}</h1>
                        </div>
                        {{ form_errors(form) }}
                        <div class="form-body">
                            <div class="form-group">
                                <label for="image" class="col-md-2 control-label">Картинка</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.image) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-2 control-label">Название</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control','placeholder': 'Введите название события'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Время</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="endtime" {% if not form.endTime %}hidden="hidden"{% endif %}>
                                                Начало
                                            </div>
                                            {{ form_widget(form.schedule, { 'attr': {'class': 'form-control','placeholder':'Выберите дату начала события'}}) }}
                                        </div>
                                        <div class="col-md-6">
                                            {% if not form.endTime %}
                                                <a href="#" onclick="$('.endtime').show(); $(this).hide(); return false;">
                                                    Добавить время окончания
                                                </a>
                                            {% else %}
                                                <div class="endtime" {% if not form.endTime %}hidden="hidden"{% endif %}>
                                                    Конец {{ form_widget(form.endTime, { 'attr': {'class': 'form-control','placeholder':'Выберите дату окончания события'}}) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Подробности</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.description, { 'attr': {'class': 'form-control','placeholder':'Кратко опишите событие'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category" class="col-md-2 control-label">Категория</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.category, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="well"><!-- Location controls start-->
                                <div class="form-group">
                                    <label for="address" class="col-md-2 control-label">Место</label>
                                    <div class="col-md-4">
                                        <select id="location_type" class="form-control">
                                            <option value="address">Адрес</option>
                                            <option value="route">Маршрут</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div id="map" style="height: 200px; background-color: #CCC;"></div>
                                            </div>
                                            <div class="col-md-5" id="map-info">
                                                <p id="firstLocation"></p>
                                                <div hidden="hidden" id="arrowLocation" class="col-md-offset-3">
                                                    <span class="glyphicon glyphicon-download" style="font-size: 2.0em;"></span>
                                                </div>
                                                <p id="secondLocation"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4 col-md-offset-2">
                                        <div class="input-group address-control">
                                              <input type="text" class="form-control" id="address_field" placeholder="Найти адрес...">
                                              <span class="input-group-btn">
                                                    <button class="btn btn-default" id="search_address" type="button">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                              </span>
                                        </div>
                                        <div class="col-md-8 route-control" hidden="hidden">
                                            <a href="#" id="clear_route">Очистить маршрут</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_create.js') }}"></script>

    {{ form_javascript(form) }}

{% endblock %}
