{% extends 'FqBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block body %}
    <div class="modal fade" id="createCategoryPopup" tabindex="-1" role="dialog" aria-labelledby="createCategoryPopup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Создание категории</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form class="form-horizontal" role="form" action="#">
                            <div class="form-body">
                                <div class="form-group">
                                    <label for="category_name" class="col-md-2 control-label">Название</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="category_name"/>
                                    </div>
                                </div>
                                {#<div class="form-group">#}
                                    {#<label for="category_icon" class="col-md-2 control-label">Иконка</label>#}
                                    {#<div class="col-md-4">#}
                                        {#<input type="text" class="form-control" id="category_icon"/>#}
                                    {#</div>#}
                                {#</div>#}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" data-role="create_category" data-url="{{ url('save_category') }}">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="well">

                    <form class="form-horizontal" role="form" action="{{ path('event_save') }}" method="POST" {{ form_enctype(form) }}>

                        <div class="page-header">

                            <h1>Создать событие</h1>

                        </div><!-- end page-header -->

                        {{ form_errors(form) }}

                        <div class="form-body">

                            <div class="form-group">
                                <label for="image" class="col-md-2 control-label">Картинка</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.image) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="title" class="col-md-2 control-label">Название</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Время</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.schedule, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-md-2 control-label">Подробности</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.description, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="category" class="col-md-2 control-label">Категория</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.category, { 'attr': {'class': 'form-control'}}) }}
                                    <a href="#" data-toggle="modal" data-target="#createCategoryPopup"> + Создать новую категорию</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="col-md-2 control-label">Адрес</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.address, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="position" class="col-md-2 control-label">Карта</label>
                                <div class="col-md-4">
                                    <div id="map" style="width: 500px; height: 200px; background-color: #CCC;"></div>
                                    {{ form_widget(form.position) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>

                    </form>
                </div><!-- end well -->

            </div>

        </div>

    </div><!-- end main container -->
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bNGhrj2Y_h3U655IrW7g961-5Nc2D90&sensor=false"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/gmaps.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_create.js') }}"></script>

    {{ form_javascript(form) }}

{% endblock %}
