{% extends 'FqBundle::base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" name="query" class="form-control" data-role="search" placeholder="Введите ключевое слово" {% if (query) %}value="{{ query }}"{% endif %}/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" data-role="event-list-reloader">Поиск</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <form class="form-horizontal" role="form" id="list_filter" action="{{ path('event_list') }}" method="get">
                            <label for="sport" class="col-md-2 col-md-offset-1 control-label">Категории</label>
                            {% for category in categories %}
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox" id="sport">
                                            <label>
                                                <input name="categories[]" value="{{ category.id }}" data-role="event-list-reloader" type="checkbox" {% if (category.id in selectedCategories) %}checked{% endif %}/>
                                                {{ category.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>

                    <div class="col-md-9">
                        <h4 style="margin-top: 10px">Events</h4>
                        <div class="list-group">
                            {% for event in events %}
                                <a href="{{ url('event_view', {'id': event.id}) }}" class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="{{ event.image|vlabs_filter('resize', { width : 200, keepRatio : true })|vlabs_media('default') }}">
                                        </div>
                                        <div class="col-md-5">
                                            <p onclick="document.location = '{{ url('profile', {'id': event.creator.id}) }}'; return false">
                                                {{ event.creator.username }}
                                            </p>
                                            <p>{{ event.title }}</p>
                                            <p>{{ event.description }}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Состоится: </p><p> {{ event.schedule|date('d/m/Y G:i') }}</p>
                                            {% if (false == user.isAttending(event)) %}
                                                <button data-role="link-button" data-url="{{ url('join_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Присоединиться</button>
                                            {% else %}
                                                <button data-role="link-button" data-url="{{ url('leave_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Покинуть</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_list.js') }}"></script>

{% endblock %}