{% extends 'FqBundle::base.html.twig' %}

{% block body %}
<div class="container" id="main">
        <div class="well">
        <h1>{{ event.title }}</h1>
        <p><img src="{{ event.image|vlabs_filter('resize', { width : 500, keepRatio : true })|vlabs_media('default') }}"></p>
        <p><b>Время: </b>{{ event.schedule|date('Y-m-d') }}</p>
        <p><b>Описание: </b>{{ event.description }}</p>
        <p><b>Адресс: </b>{{ event.address }}</p>
        <p><b>Карта: </b></p><div class="map" data-latlng="{{ event.position }}" style="width: 500px; height: 200px; background-color: #CCC;"></div>
        <p><b>Организатор: </b> <a href="{{ url('profile', {'id': event.creator.id}) }}"><img src="{{ event.creator.picture }}"/> {{ event.creator.username }}</a></p>
        <h1>Участники: </h1>
        {% for participant in event.participants %}
            <div class="well">
                <a href="{{ url('profile', {'id': participant.id}) }}"><img src="{{ participant.picture }}"/> {{ participant.username }}</a>
            </div>
        {% endfor %}
        {% if (false == user.isAttending(event)) %}
            <button data-role="link-button" data-url="{{ url('join_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Присоединиться</button>
        {% else %}
            <button data-role="link-button" data-url="{{ url('leave_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Покинуть</button>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bNGhrj2Y_h3U655IrW7g961-5Nc2D90&sensor=false"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/gmaps.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_view.js') }}"></script>

{% endblock %}