{% extends 'FqBundle::base.html.twig' %}

{% block body %}
<div class="container" id="main">
    <h1>Event view.</h1>
    <p>Title: {{ event.title }}</p>
    <p><img src="{{ event.image|vlabs_media('default') }}"></p>
    <p>Description: {{ event.description }}</p>
    <p>Address: {{ event.address }}</p>
    <p>Map</p><div class="map" data-latlng="{{ event.position }}" style="width: 500px; height: 200px; background-color: #CCC;"></div>
    <p>Creator: <img src="{{ event.creator.picture }}"/> {{ event.creator.username }}</p>
    <h1>Participants</h1>
    {% for participant in event.participants %}
        <p>Praticipant: <img src="{{ participant.picture }}"/> {{ participant.username }}</p>
    {% endfor %}
    {% if (false == user.isAttending(event)) %}
        <button data-role="link-button" data-url="{{ url('join_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Присоединиться</button>
    {% else %}
        <button data-role="link-button" data-url="{{ url('leave_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Покинуть</button>
    {% endif %}
</div>
{% endblock %}
