{% extends 'FqBundle::base.html.twig' %}

{% block body %}
<div class="container" id="main">
        <div class="well">
        <h1>{{ event.title }}</h1>
        <p><img src="{{ event.image|vlabs_media('default') }}"></p>
        <p><b>Время: </b>{{ event.schedule|date('Y-m-d') }}</p>
        <p><b>Описание: </b>{{ event.description }}</p>
        <p><b>Адресс: </b>{{ event.address }}</p>
        <p><b>Карта: </b></p><div class="map" data-latlng="{{ event.position }}" style="width: 500px; height: 200px; background-color: #CCC;"></div>
        <p><b>Организатор: </b><img src="{{ event.creator.picture }}"/> {{ event.creator.username }}</p>
        <h1>Участники: </h1>
        {% for participant in event.participants %}
            <p><img src="{{ participant.picture }}"/> {{ participant.username }}</p>
        {% endfor %}
        {% if (false == user.isAttending(event)) %}
            <button data-role="link-button" data-url="{{ url('join_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Присоединиться</button>
        {% else %}
            <button data-role="link-button" data-url="{{ url('leave_event', {'id': event.id}) }}" class="btn btn-sm btn-info">Покинуть</button>
        {% endif %}
    </div>
</div>
{% endblock %}
