{% extends 'FqBundle::base.html.twig' %}

{% block body %}
<div class="container" id="main">
    <div class="well">
        {% if user != event.creator %}
            {% if (false == user.isAttending(event)) %}
                <button data-role="link-button" data-url="{{ url('join_event', {'id': event.id}) }}" class="btn btn-sm btn-info pull-right">Присоединиться</button>
            {% else %}
                <button data-role="link-button" data-url="{{ url('leave_event', {'id': event.id}) }}" class="btn btn-sm btn-info pull-right">Покинуть</button>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <p>{{ event.schedule|localizeddate('long', 'none', null, null, 'EEEE')|capitalize }}</p>
                    <p style="font-size: x-large;">{{ event.schedule|date('d') }}</p>
                    <p style="font-size: x-large;">{{ event.schedule|localizeddate('long', 'none', null, null, 'MMMM')|capitalize }}</p>
                    <p>{{ event.schedule|date('Y') }}</p>
                    <p>Количество участников:</p>
                    <p style="font-size: x-large">{{ event.participants|length }}</p>
                    <p>Количество просмотров:</p>
                    <p style="font-size: x-large">{{ event.views }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{ event.image|vlabs_filter('resize', { width : 400, keepRatio : true })|vlabs_media('default') }}">
            </div>
            <div class="col-md-5">
                <h1>{{ event.title }}</h1>
                <p><b>Время: </b>{{ event.schedule|localizeddate('none', 'short') }}</p>
                <p><b>Адресс: </b>{{ event.route.locations[0].address }}</p>
                <p><b>Организатор: </b> <a href="{{ url('profile', {'id': event.creator.id}) }}"><img src="{{ event.creator.picture }}"/> {{ event.creator.username }}</a></p>
            </div>
        </div>
        <div class="row">
            <p><b>Описание: </b>{{ event.description }}</p>
            <p><b>Карта: </b></p><div class="map" data-lat="{{ event.route.locations[0].latitude }}" data-lng="{{ event.route.locations[0].longitude }}" style="width: 500px; height: 200px; background-color: #CCC;"></div>
            <h1>Участники: </h1>
            {% for participant in event.participants %}
                <div class="well">
                    <a href="{{ url('profile', {'id': participant.id}) }}"><img src="{{ participant.picture }}"/> {{ participant.username }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bNGhrj2Y_h3U655IrW7g961-5Nc2D90&sensor=false"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_view.js') }}"></script>

{% endblock %}