{% extends 'FqBundle::base.html.twig' %}

{% block body %}
<div class="container" id="main" style="margin-top: 50px">
    <h1>Event view.</h1>
    <p>Title: {{ event.title }}</p>
    <p><img src="{{ event.image|vlabs_media('default') }}"></p>
    <p>Description: {{ event.description }}</p>
    <p>Address: {{ event.address }}</p>
    <p>Map</p><div class="map" data-latlng="{{ event.position }}" style="width: 500px; height: 200px; background-color: #CCC;"></div>
    <p>Creator: <img src="{{ event.creator.picture }}"/> {{ event.creator.username }}</p>
    <h1>Participants</h1>
    {% for participant in event.participants %}
        <p>Praticipant: <img src="{{ participant.picture }}"/> {{ participant.username }}</p>
    {% endfor %}
    <a href="{{ path('join_event', {'id': event.id}) }}">Join Event</a>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bNGhrj2Y_h3U655IrW7g961-5Nc2D90&sensor=false"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/gmaps.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/fq/js/event_view.js') }}"></script>
{% endblock %}
