<div class="list-group">
    {% for event in pagination %}
        <a href="{{ url('event_view', {'id': event.id}) }}" class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    {% if event.image %}
                        <img src="{{ event.image|vlabs_filter('resize', { width : 200, keepRatio : true })|vlabs_media('default') }}">
                    {% else %}
                        <img style="min-height:100%; min-width:200px; width:100%" src="{{ asset('bundles/fq/images/no_event_img.png') }}"/>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <p onclick="document.location = '{{ url('profile', {'id': event.creator.id}) }}'; return false">
                        {{ event.creator.username }}
                    </p>
                    <p>{{ event.title }}</p>
                    <p>{{ event.description }}</p>
                    <div hidden="hidden" class="event-location-info"
                         data-title="{{ event.title }}"
                         data-url="{{ url('event_view', {'id': event.id}) }}"
                         data-lat="{{ event.location.latitude }}"
                         data-lng="{{ event.location.longitude }}"
                            >
                    </div>
                </div>
                <div class="col-md-3">
                    <p>Состоится: </p><p> {{ event.schedule|localizeddate('long', 'none', null, null, "d MMMM Y 'в' HH:mm") }}</p>
                    {% if user.id != event.creator.id %}
                        {% if (false == user.isAttending(event)) %}
                            <button data-role="link-button" data-url="{{ url('join_event', {'id': event.id}) }}" class="btn btn-sm btn-primary" style="margin: 5px">Присоединиться</button>
                        {% else %}
                            <button data-role="link-button" data-url="{{ url('leave_event', {'id': event.id}) }}" class="btn btn-sm" style="margin: 5px">Покинуть</button>
                        {% endif %}
                        {% if event in user.hiddenEvents %}
                            <button data-role="link-button" data-url="{{ url('unhide_event', {'id': event.id}) }}" class="btn btn-sm btn-primary" style="margin: 5px">Вернуть</button>
                        {% else %}
                            <button data-role="link-button-hide" data-url="{{ url('hide_event', {'id': event.id}) }}" class="btn btn-sm" style="margin: 5px">Скрыть</button>
                        {% endif %}
                    {% else %}
                        <p>Присоединилось: <b>{{ event.participants|length }}</b></p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>